<%- include('./partials/head'); %>

<div class="container">

    <div class="row justify-content-md-center" style="margin:5rem 0;">
        <div class="col-12 col-md-6 card shadow">
            <form class="user" action="/admin/" method="POST" style="padding: 1rem;">
                <h2 class=" text-center">
                    <%= title %>
                </h2>
        
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" placeholder="Enter Username"
                     name="username">
                </div>
        
                <div class="form-group">
                    <input type="password" class="form-control form-control-user" placeholder="Enter Password"
                     name="password">
                </div>
        
                <input type="submit" name="submit" value="Log In" class="btn btn-primary btn-user btn-block"> 
                <br>
                <a class="text-muted ml-4" href="/signup">Sign Up ?</a>
                <a class="text-success ml-4">
                    <% if( msg != ''){ %>
                        <%= msg %>
                        <% } %>
                </a>
            </form>
        </div>
    </div>

</div>

<%- include('./partials/scripts'); %>