<style>
    .footer-text {
        color: #fff;
    }

    .footer-links {
        color: #D0E1FA;
        font-size: 20px;
    }

    .footer-links:hover {
        color: #fff;
    }

    @media only screen and (max-width: 600px) {
        .footer-links {
            color: #D0E1FA;
            font-size: 16px;
        }
    }
</style>


<section class="footer" style="background: #6082A7; padding: 7% 0% 0% 0%;">
    <div class="container">

        <div class="row">
            <div class="col-md-5">
                <ul style="list-style: none;">
                    <li>
                        <h4 class="footer-text">Fliqaindia</h4>
                    </li>
                    <li>
                        <h4 class="footer-text">Never Miss a thing</h4>
                    </li>

                    <div class="input-group my-4" style="width: 100%;margin: 0 auto;">
                        <input type="text" class="form-control" placeholder="Email">
                        <div class="input-group-append mx-2">
                            <span style="border-radius: 20px;" class="btn btn-md btn-success">Submit</span>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="col-md-3 footer-text">
                <ul style="list-style: none;">
                    <li>
                        <h4>Usefull links</h4>
                    </li>
                    <li><a class="footer-links" href="">Find Your Photographer</a></li>
                    <li><a class="footer-links" href="">Apply As Freelancer</a></li>
                    <li><a class="footer-links" href="">Tutorial</a></li>
                    <li><a class="footer-links" href="">Services</a></li>
                    <li><a class="footer-links" href="">Blogs</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul style="list-style: none;">
                    <li>
                        <h4 class="footer-text">Contact & Support</h4>
                    </li>
                    <li><a class="footer-links" href="">support@fliqaindia.com</a></li>
                    <li><a class="footer-links" href="">+91 91468717485</a></li>
                    <li><a class="footer-links" href="">Contact Us</a></li>
                    <li><a class="footer-links" href="">Terms & Conditions</a></li>
                    <li><a class="footer-links" href="">Privacy & Policies</a></li>
                    <li><a class="footer-links" href="">FAQ</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="text-center pb-1">
            <small>
                <p class="footer-text">COPYRIGHT 2019 FLIQAINDIA PVT.LTD. - ALL RIGHT RESERVED</p>
                <P class="footer-text">POWERED BY FLIQAINIDA PVT.LTD</P>
                <P class="footer-text">VERSION 5.0.0</P>
            </small>
        </div>
    </div>
</section>

