<!-- Navbar ******************************************************************************* -->

<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background: #D0E1FA;">
    <div class="navbar-header d-flex col">
        <a class="navbar-brand " href="/">
            <!-- <img width="140px" src="./logo-png.png" alt=""> -->
            <div id="logofi"></div>
        </a>
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse"
            class="navbar-toggle navbar-toggler ml-auto">
            <span class="navbar-toggler-icon"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">

        <ul class="nav navbar-nav mx-auto">
            <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/about" class="nav-link">About Us</a></li>
            <li class="nav-item"><a href="/services" class="nav-link">Services</a></li>
            <!-- <li class="nav-item"><a href="/freelancers" class="nav-link">Freelancers</a></li>
            <li class="nav-item "><a href="/blog" class="nav-link">Blog</a></li>
            <li class="nav-item"><a href="/tout&travel" class="nav-link">Tour & Travel</a></li>
            <li class="nav-item "><a href="/tutorial" class="nav-link">Tutorial</a></li> -->
            <li class="nav-item "><a href="/contact" class="nav-link">Contact Us</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right ml-auto">
            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-facebook"></i></a></li>
            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-twitter"></i></a></li>
            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-google-plus"></i></a></li>
            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-pinterest-p"></i></a></li>
        </ul>

    </div>
</nav>
