<%- include('../../partials/head.ejs'); -%>
<%- include('../../partials/nav.ejs'); -%>



    <div class="jumbotron jumbotron-fluid graphics-jumbotron">
        <div class="container">
            <h1 class="text-center graphics-jumbotron-text">Brochure And Flyers</h1>
        </div>
    </div>

    <div class="container text-center my-4">
        <p>
            
        </p>
    </div>

    <h2 class="text-center header">Here is to look out the packages details</h2>

    <div class="container my-4" style="background-color: #4C86CA; padding: 5%;border-radius: 20px;color: #fff;">
        <div class="row">
            <div class="col-12 col-md-6">
                <p>Unique identity</p>
                <p>Proven standard work</p>
                <p>High resolution design</p>
                <p>Colourful theme with stunning graphics</p>
            </div>
            <div class="col-12 col-md-6" style="margin: 2% 0;">
                <h5>Price starting at ₹500/-   </h5>
                <button class="btn btn-res">Start Designing</button>
            </div>
        </div>
    </div>



    <h2 class="text-center header">Our Recent Works</h2>

<section>
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/brochure-and-flyers/1.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/brochure-and-flyers/2.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/brochure-and-flyers/3.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/brochure-and-flyers/4.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/brochure-and-flyers/5.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/brochure-and-flyers/6.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/brochure-and-flyers/7.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/brochure-and-flyers/8.jpg"
          alt=""
        />
      </div>
    </div>

      <!-- Read More  -->
      <style>
        #more {
          display: none;
        }
      </style>
      <span id="dots" style="color: #fff;">...</span>
     <span id="more">

     <div class="row">
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/brochure-and-flyers/9.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/brochure-and-flyers/10.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/brochure-and-flyers/11.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/brochure-and-flyers/12.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

<!-- Reacd More Btn -->
<div class="text-center m-4">
<button class="btn btn-lg rounded-pill shadow btn-res" onclick="myFunction()" id="myBtn" style="background-color: cornflowerblue;">View more</button>
</div>

<script>
function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "View more";
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "View less";
    moreText.style.display = "inline";
  }
}
</script>


    <style>
        .ourcredit-card {
            padding: 2%;
        }
        .graphics-card{
            height: 300px;
        }
        .graphics-card-p{
            font-size: 0.8rem;
        }
    </style>

    <h2 class="text-center header">Our Credit</h2>

    <div class="container-fluid text-center pb-4" style="background-color: #F1F6FD;">

        <div class="row" style="padding-top:2% ;">
            <div class="col-md-3 col-12 ourcredit-card">
                <div class="card graphics-card">
                    <img class="img-fluid" 
                    src="../.././img/services/graphics/svgs/choose-from-samples.svg" 
                    width="60" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Choose from samples</h5>
                        <p class="card-text graphics-card-p">You will be offered a collection of samples to chose from when designing your brochure and flyers and the extra choices would allow you flexibility of choice. So we make sure you have what you've selected</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12 ourcredit-card">
                <div class="card graphics-card">
                    <img class="img-fluid" 
                    src="../.././img/services/graphics/svgs/checkmark.svg" 
                    width="60" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Available modification</h5>
                        <p class="card-text graphics-card-p">Modification begets perfection. After selecting your sample, you can ask for modifications to the brochure and flyers so that you get the perfect brochure and flyers tailored right for you.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12 ourcredit-card">
                <div class="card graphics-card">
                    <img class="img-fluid" 
                    src="../.././img/services/graphics/svgs/add.svg"
                    width="60"
                    alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Fast service</h5>
                        <p class="card-text graphics-card-p">Our in-house editors make a quick delivery for each deal agreed in a quality control process. We are set to deliver pretty quickly! From videos to pictures within a few days! At FliqaIndia you will use digital and hardcopy brochure and flyers editing and we will ship the finished product in any format you like.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12 ourcredit-card">
                <div class="card graphics-card">
                    <img class="img-fluid" 
                    src="../.././img/services/graphics/svgs/knowledge.svg"
                    width="60"
                    alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Multiple file types</h5>
                        <p class="card-text graphics-card-p">We truly assume that development brings success. Master file is the base file of your brochure and flyers that helps you to change the design of your cards further. We will supply the master file to enable you to make whatever improvements you like in the future.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-12 ourcredit-card">
                <div class="card graphics-card">
                    <img class="img-fluid" 
                    src="../.././img/services/graphics/svgs/call-center-agent.svg"
                    width="60"
                    alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Free Designers Support</h5>
                        <p class="card-text graphics-card-p">We are with you every step of the way, from conception to execution. Our Free Designer Support ensures that all your queries are addressed and you get the best advice regarding taglines and information that is to be displayed on the brochure and flyers.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12 ourcredit-card">
                <div class="card graphics-card">
                    <img class="img-fluid" 
                    src="../.././img/services/graphics/svgs/backup-copy.svg"
                    width="60"
                    alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Backup services</h5>
                        <p class="card-text graphics-card-p">Security is our top-most priority. To ensure that your logo is safe, we provide backup services that last for one year.</p>
                    </div>
                </div>
            </div>
    </div>
    </div>


    <%- include('../../partials/footer.ejs'); -%>
    <%- include('../../partials/scripts.ejs'); -%>