<%- include('../../partials/head.ejs'); -%> <%-
include('../../partials/nav.ejs'); -%>

<style>
  .graphics-jumbotron {
    margin-top: 4.2%;
  }

  .graphics-jumbotron-text {
    padding: 5% 0;
  }

  @media only screen and (max-width: 600px) {
    .graphics-jumbotron {
      margin-top: 18%;
    }
  }
</style>

<div class="jumbotron jumbotron-fluid graphics-jumbotron">
  <div class="container">
    <h1 class="text-center graphics-jumbotron-text text-white">Logo Design</h1>
  </div>
</div>

<div class="container text-center my-4">
  <p>
    A logo is not only a little piece of art; it is the foundation block in
    which the business has a clear brand presence. You get the much needed
    visibility from your brand through the use of it in various sections of your
    company like the site, packaging, labeling, social media, printed materials,
    etc. Once your business defines your name in a special manner, the emblem is
    eternal. If this gives you a summary of the company, then this is a perfect
    logo! -- Organization is different and the specifications are often
    different. This is why we have a customized logo at Fliqaindia for the
    cheapest amount. Logos or brand names are any company, brand or company's
    visual identity. It can be anything — a mark, a letter, or a blend. There
    are tworeasons for a logo — that represents the image of a company and
    informs the public about it. The graphic designs of Fliqaindia will simplify
    and cater to your needs. Always remember, you can establish a bond between
    your business and your clients by utilizing a professional logo design.
  </p>
</div>

<style>
  .logo-detail {
    font-size: 2rem;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .nav-scroller .nav-link {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 0.875rem;
  }

  .card-table {
    width: 18rem;
  }

  @media only screen and (max-width: 600px) {
    .card-table {
      width: 9rem;
    }

    .card-options,
    .card-basic,
    .card-advanced,
    .card-premium {
      font-size: 0.2rem;
      padding: 2px !important;
    }

    .logo-detail {
      font-size: 1.5rem;
    }

    .btn-select {
      background-color: #1dbf73;
      color: rgb(255, 255, 255);
      margin: 10% 10%;
      padding: 5%;
      border-radius: 5px;
      text-transform: uppercase;
    }
  }

  /* padding and margin */

  .card-options,
  .card-basic,
  .card-advanced,
  .card-premium {
    font-size: 1rem;
    padding: 2px !important;
  }

  /* colors */
  .card-options {
    background-color: rgb(157, 230, 230);
  }

  .card-basic {
    background-color: rgb(255, 204, 146);
  }

  .card-advanced {
    background-color: rgb(252, 190, 231);
  }

  .card-premium {
    background-color: #a6c6eb;
  }

  .btn-select {
    background-color: #1dbf73;
    color: rgb(255, 255, 255);
    margin: 5% 10%;
    text-transform: uppercase;
  }
</style>

<div class="container">
  <h2 class="text-center my-4 logo-detail">
    Here is to look out the packages details
  </h2>
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex">
      <a class="text-muted" href="#">
        <div class="card card-table border-0">
          <div class="card-header card-options">
            <div class="card-header border-0">
              Option Available
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item card-options">Total</li>
            <li class="list-group-item card-options">Revisions</li>
            <li class="list-group-item card-options">Delivery Time</li>
            <li class="list-group-item card-options">Total</li>
            <li class="list-group-item card-options">5 Concepts</li>
            <li class="list-group-item card-options">5 Concepts</li>
            <li class="list-group-item card-options">5 Concepts</li>
            <li class="list-group-item card-options">5 Concepts</li>
            <li class="list-group-item card-options">5 Concepts</li>
            <li class="list-group-item card-options">5 Concepts</li>
            <li class="list-group-item card-options">5 Concepts</li>
            <li class="list-group-item card-options">5 Concepts</li>
          </ul>
        </div>
      </a>
      <a class="text-muted" href="#">
        <div class="card card-table border-0">
          <div class="card-header card-basic">
            <div class="card-header border-0">
              Basic
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item card-options card-basic">Rs 1999</li>
            <li class="list-group-item card-options card-basic">Unlimited</li>
            <li class="list-group-item card-options card-basic">2 Days</li>
            <li class="list-group-item card-options card-basic">Rs 1999</li>
            <li class="list-group-item card-options card-basic">Unlimited</li>
            <li class="list-group-item card-options card-basic">Unlimited</li>
            <li class="list-group-item card-options card-basic">Unlimited</li>
            <li class="list-group-item card-options card-basic">Unlimited</li>
            <li class="list-group-item card-options card-basic">Unlimited</li>
            <li class="list-group-item card-options card-basic">Unlimited</li>
            <li class="list-group-item card-options card-basic">Unlimited</li>
            <li class="list-group-item card-options card-basic">Unlimited</li>
          </ul>
          <button class="btn-select border-0 btn btn-lg rounded-pill btn-res">
            Select
          </button>
        </div>
      </a>
      <a class="text-muted" href="#">
        <div class="card card-table border-0">
          <div class="card-header card-advanced">
            <div class="card-header border-0">
              Advanced
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item card-options card-advanced">Rs 2999</li>
            <li class="list-group-item card-options card-advanced">
              Unlimited
            </li>
            <li class="list-group-item card-options card-advanced">4 Days</li>
            <li class="list-group-item card-options card-advanced">Rs 2999</li>
            <li class="list-group-item card-options card-advanced">
              Unlimited
            </li>
            <li class="list-group-item card-options card-advanced">
              Unlimited
            </li>
            <li class="list-group-item card-options card-advanced">
              Unlimited
            </li>
            <li class="list-group-item card-options card-advanced">
              Unlimited
            </li>
            <li class="list-group-item card-options card-advanced">
              Unlimited
            </li>
            <li class="list-group-item card-options card-advanced">
              Unlimited
            </li>
            <li class="list-group-item card-options card-advanced">
              Unlimited
            </li>
            <li class="list-group-item card-options card-advanced">
              Unlimited
            </li>
          </ul>
          <button class="btn-select border-0 btn btn-lg rounded-pill btn-res">
            Select
          </button>
        </div>
      </a>
      <a class="text-muted" href="#">
        <div class="card card-table border-0">
          <div class="card-header card-premium">
            <div class="card-header border-0">
              Premium
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item card-options card-premium">Rs 3999</li>
            <li class="list-group-item card-options card-premium">Unlimited</li>
            <li class="list-group-item card-options card-premium">10 Days</li>
            <li class="list-group-item card-options card-premium">Rs 3999</li>
            <li class="list-group-item card-options card-premium">Unlimited</li>
            <li class="list-group-item card-options card-premium">Unlimited</li>
            <li class="list-group-item card-options card-premium">Unlimited</li>
            <li class="list-group-item card-options card-premium">Unlimited</li>
            <li class="list-group-item card-options card-premium">Unlimited</li>
            <li class="list-group-item card-options card-premium">Unlimited</li>
            <li class="list-group-item card-options card-premium">Unlimited</li>
            <li class="list-group-item card-options card-premium">Unlimited</li>
          </ul>
          <button class="btn-select border-0 btn btn-lg rounded-pill btn-res">
            Select
          </button>
        </div>
      </a>
    </nav>
  </div>
</div>

<style>
  .ourcredit-card {
    padding: 2%;
  }
  .graphics-card {
    height: 300px;
  }
  .graphics-card-p {
    font-size: 0.8rem;
  }
</style>

<h2 class="text-center header">Our Recent Works</h2>

<section>
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/logo-service/1.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/logo-service/2.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/logo-service/3.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/logo-service/4.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/logo-service/5.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/logo-service/6.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/logo-service/7.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/logo-service/8.jpg"
          alt=""
        />
      </div>
    </div>

      <!-- Read More  -->
      <style>
        #more {
          display: none;
        }
      </style>
      <span id="dots" style="color: #fff;">...</span>
     <span id="more">

     <div class="row">
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/logo-service/9.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/logo-service/10.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/logo-service/11.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/logo-service/12.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/logo-service/13.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/logo-service/14.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/logo-service/15.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/logo-service/16.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/logo-service/17.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/logo-service/18.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/logo-service/19.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/logo-service/20.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/logo-service/21.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/logo-service/22.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/logo-service/23.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/logo-service/24.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/logo-service/25.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/logo-service/26.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

<!-- Reacd More Btn -->
<div class="text-center m-4">
<button class="btn btn-lg rounded-pill shadow btn-res" onclick="myFunction()" id="myBtn" style="background-color: cornflowerblue;">View more</button>
</div>

<script>
function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "View more";
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "View less";
    moreText.style.display = "inline";
  }
}
</script>

<h2 class="text-center header">Our Credit</h2>

<div
  class="container-fluid text-center pb-4"
  style="background-color: #f1f6fd;"
>
  <div class="row" style="padding-top: 2%;">
    <div class="col-md-3 col-12 ourcredit-card">
      <div class="card graphics-card">
        <img
          class="img-fluid"
          src="../.././img/services/graphics/svgs/choose-from-samples.svg"
          width="60"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Choose from samples</h5>
          <p class="card-text graphics-card-p">
            The more, the merrier. When you are creating your logo, you will be
            given a set of samples to choose from so that more options give you
            the freedom to choose what you desire. And we ensure that you will
            get whatever you have chosen.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 ourcredit-card">
      <div class="card graphics-card">
        <img
          class="img-fluid"
          src="../.././img/services/graphics/svgs/checkmark.svg"
          width="60"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Available modification</h5>
          <p class="card-text graphics-card-p">
            Modification begets perfection. After selecting your sample, you can
            ask for modifications to the logo so that you get the perfect logo
            tailored right for you.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 ourcredit-card">
      <div class="card graphics-card">
        <img
          class="img-fluid"
          src="../.././img/services/graphics/svgs/add.svg"
          width="60"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Fast service</h5>
          <p class="card-text graphics-card-p">
            For each agreement signed into a quality assurance process, our
            in-house editors give a fast turnaround. We are now eligible for
            instant distribution! In a matter of seconds from camera to media!
            At FliqaIndia you will get access to editing images digital &
            hardcopy & we ship the finished product in whatever format you
            require.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 ourcredit-card">
      <div class="card graphics-card">
        <img
          class="img-fluid"
          src="../.././img/services/graphics/svgs/file.svg"
          width="60"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">90 Days Guarantee</h5>
          <p class="card-text graphics-card-p">
            We design what you desire. To ensure that you get the best, we give
            a 90 day guarantee period. You can ask for any changes to be made
            for free within 90 days of making the logo.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 ourcredit-card">
      <div class="card graphics-card">
        <img
          class="img-fluid"
          src="../.././img/services/graphics/svgs/knowledge.svg"
          width="60"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Multiple file types</h5>
          <p class="card-text graphics-card-p">
            To bring your logo to life we provide 3 file types: jpg, png and
            pdf. Whether you choose basic, advance or premium, you will get 3
            file types so that your logo can cater to all your needs.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 ourcredit-card">
      <div class="card graphics-card">
        <img
          class="img-fluid"
          src="../.././img/services/graphics/svgs/rate.svg"
          width="60"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Master file included</h5>
          <p class="card-text graphics-card-p">
            We firmly believe that change brings progress. Master file is the
            source file of your logo that enables you to make further changes to
            your logo. We will provide the master file so that you can be
            empowered to make any modifications you desire in future.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-12 ourcredit-card">
      <div class="card graphics-card">
        <img
          class="img-fluid"
          src="../.././img/services/graphics/svgs/call-center-agent.svg"
          width="60"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Free Designers Support</h5>
          <p class="card-text graphics-card-p">
            We are with you every step of the way, from conception to execution.
            Our Free Designer Support ensures that all your queries are
            addressed and you get the best advice regarding taglines and
            information that is to be displayed on the logo.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 ourcredit-card">
      <div class="card graphics-card">
        <img
          class="img-fluid"
          src="../.././img/services/graphics/svgs/backup-copy.svg"
          width="60"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Backup services</h5>
          <p class="card-text graphics-card-p">
            Security is our top-most priority. To ensure that your logo is safe,
            we provide backup services that last for one year.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" style="margin: 2% 0;">
  <h2 class="text-center header">If you’re also looking for...</h2>

  <div class="container" style="padding: 3% 0;">
    <div id="packageOwl" class="owl-carousel owl-theme">
      <div class="item">
        <img
          src="../../img/services/photography/birthday-photography/1.jpg"
          alt=""
        />
      </div>
      <div class="item">
        <img
          src="../../img/services/photography/birthday-photography/2.jpg"
          alt=""
        />
      </div>
      <div class="item">
        <img
          src="../../img/services/photography/birthday-photography/3.jpg"
          alt=""
        />
      </div>
      <div class="item">
        <img
          src="../../img/services/photography/birthday-photography/4.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>

<%- include('../../partials/footer.ejs'); -%> <%-
include('../../partials/scripts.ejs'); -%>
