<%- include('../../partials/head.ejs'); -%> <%-
include('../../partials/nav.ejs'); -%>

<style>
  .graphics-jumbotron {
    margin-top: 4.2%;
  }

  .graphics-jumbotron-text {
    padding: 5% 0;
  }

  @media only screen and (max-width: 600px) {
    .graphics-jumbotron {
      margin-top: 18%;
    }
  }
</style>

<div class="jumbotron jumbotron-fluid graphics-jumbotron">
  <div class="container">
    <h1 class="text-center graphics-jumbotron-text">Motion Graphics</h1>
  </div>
</div>

<div class="container text-center my-4">
  <p>
    Motion graphics allows the conceptual or visual expression with concepts by utilizing words,
    images, shapes, maps and visuals. Motion graphics was built from scratch to keep an eye on the
    data. It sharpens and cleanses drawing images. Many Multimedia tasks that need to hit
    animation are often used to illustrate motion graphics. Fliqaindia’s videos are widely regarded
    as the excellent type of video to attract customers visually and use them for commercial
    purposes. Motion graphics services separate the content from the standard animation by being
    solely guided by character or by context. We will deliver a more design-oriented and patterned
    movement graphics service, encourage the viewers to feel the dreamlike state and get out and
    pay special attention to the crowd. Motion Graphics is the perfect way to view images, picture
    and sound material. Motion Graphics videos can be conveniently posted on all common social
    networking sites.
  </p>
</div>

<section style="margin: 5% 0">
    <div class="container text-center">
        <div class="row">
          <div class="col-12 col-md-3 mb-4">
            <div class="card rounded-pill service-img-shadow border-0" style="background-color: #e0beff;">
              <div class="card-body">
                <h4>Product marketing</h4>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3 mb-4">
            <div class="card rounded-pill service-img-shadow border-0"  style="background-color: #4dd5ff;">
              <div class="card-body">
                <h4>Presentations</h4>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3 mb-4">
            <div class="card rounded-pill service-img-shadow border-0" style="background-color: #ffd27d;">
              <div class="card-body" >
                <h4>Animated logo</h4>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3 mb-4">
            <div class="card rounded-pill service-img-shadow border-0" style="background-color: #b1ffd8;">
              <div class="card-body">
                <h4>Explainer video</h4>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-3 mb-4">
            <div class="card rounded-pill service-img-shadow border-0" style="background-color: #e0beff;">
              <div class="card-body">
                <h4>Promotional video</h4>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3 mb-4">
            <div class="card rounded-pill service-img-shadow border-0"  style="background-color: #4dd5ff;">
              <div class="card-body">
                <h4>Instructional video</h4>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3 mb-4">
            <div class="card rounded-pill service-img-shadow border-0" style="background-color: #ffd27d;">
              <div class="card-body" >
                <h4>UI animations</h4>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3 mb-4">
            <div class="card rounded-pill service-img-shadow border-0" style="background-color: #b1ffd8;">
              <div class="card-body">
                <h4>Story telling</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>

<h2 class="text-center header">Why Choose Us ?</h2>

<div
  class="container my-4"
  style="
    background-color: #4c86ca;
    padding: 5%;
    border-radius: 20px;
    color: #fff;
  "
>
  <div class="row">
    <div class="col-12 col-md-6">
      <p>Analise your business</p>
      <p>Project planning</p>
      <p>Script creation</p>
      <p>CResponssive design</p>
    </div>
    <div class="col-12 col-md-6" style="margin: 2% 0;">
      <h5>Price starting at ₹500/-</h5>
      <button class="btn btn-res">Start Designing</button>
    </div>
  </div>
</div>





<h2 class="text-center header">Our Recent Works</h2>

<section>
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-4">
        <div oncontextmenu="return false;" id="publitio_Akp8pl2u" class="publitioPlayer" ><div id="publitio_ph_Akp8pl2u" class="publitioPlaceHolder" ></div></div><link href="//static.publit.io/css/publitio_player.min.css" rel="stylesheet" /><script src="//static.publit.io/js/publitio_player.min.js"></script><script type="text/javascript">var publitio_Akp8pl2u = new Publitio({version: "1.4", type: "video", id: "Akp8pl2u", title: "1", sizeing: "fill", player_width: "", player_height: "", width: "1280", height: "720", quality: "360", duration: "16", thumbnails: "true", muted: "false", fileSources: {mp4:"https://media.publit.io/file/h_360/motiongraphics/1.mp4", webm:"https://media.publit.io/file/h_360/motiongraphics/1.webm", ogv:"https://media.publit.io/file/h_360/motiongraphics/1.ogv", jpg:"https://media.publit.io/file/w_1280/motiongraphics/1.jpg"}, adTag: "", autoPlay: 0, controlBar: "true", playback: "false", seekbuttons: "false", playerSkin: "grey"});</script>
      </div>
      <div class="col-6 col-md-4">
        <div oncontextmenu="return false;" id="publitio_avq7WRDn" class="publitioPlayer" ><div id="publitio_ph_avq7WRDn" class="publitioPlaceHolder" ></div></div><link href="//static.publit.io/css/publitio_player.min.css" rel="stylesheet" /><script src="//static.publit.io/js/publitio_player.min.js"></script><script type="text/javascript">var publitio_avq7WRDn = new Publitio({version: "1.4", type: "video", id: "avq7WRDn", title: "2", sizeing: "fill", player_width: "", player_height: "", width: "640", height: "352", quality: "480", duration: "17", thumbnails: "true", muted: "false", fileSources: {mp4:"https://media.publit.io/file/h_480/motiongraphics/2.mp4", webm:"https://media.publit.io/file/h_480/motiongraphics/2.webm", ogv:"https://media.publit.io/file/h_480/motiongraphics/2.ogv", jpg:"https://media.publit.io/file/motiongraphics/2.jpg"}, adTag: "", autoPlay: 0, controlBar: "true", playback: "false", seekbuttons: "false", playerSkin: "grey"});</script>
      </div>
      <div class="col-6 col-md-4">
        <div><div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 55%;"><figure style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 55%; margin-block-end: 0; margin-block-start: 0; margin-inline-start: 0; margin-inline-end: 0;" ><iframe src="https://media.publit.io/file/motiongraphics/3.html?player=&amp;adtag=" scrolling="no" style="border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute; overflow:hidden;" allowfullscreen=""></iframe></figure></div></div>
      </div>
      <div class="col-6 col-md-4">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/logo-service/4.jpg"
          alt=""
        />
      </div>
    </div>


            <!-- Read More  -->
            <style>
              #more {
                display: none;
              }
            </style>
            <span id="dots" style="color: #fff;">...</span>
           <span id="more">


<div class="row">
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/logo-service/5.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/logo-service/6.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/logo-service/7.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/logo-service/8.jpg"
          alt=""
        />
      </div>
    </div>

  </div>
</section>

<!-- Reacd More Btn -->
<div class="text-center m-4">
<button class="btn btn-lg rounded-pill shadow btn-res" onclick="myFunction()" id="myBtn" style="background-color: cornflowerblue;">View more</button>
</div>

<script>
function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "View more";
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "View less";
    moreText.style.display = "inline";
  }
}
</script>





<style>
  .ourcredit-card {
    padding: 2%;
  }
  .graphics-card {
    height: 300px;
  }
  .graphics-card-p {
    font-size: 0.8rem;
  }
</style>

<h2 class="text-center header">Our Credit</h2>

<div
  class="container-fluid text-center pb-4"
  style="background-color: #f1f6fd;"
>
  <div class="row" style="padding-top: 2%;">
    <div class="col-md-3 col-12 ourcredit-card">
      <div class="card graphics-card">
        <img
          class="img-fluid"
          src="../.././img/services/graphics/svgs/choose-from-samples.svg"
          width="60"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Available modification</h5>
          <p class="card-text graphics-card-p">
            Modification begets perfection. After selecting your sample, you can ask for modifications to the Graphics so that you get the perfect Motion Graphics tailored right for you. 
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 ourcredit-card">
      <div class="card graphics-card">
        <img
          class="img-fluid"
          src="../.././img/services/graphics/svgs/checkmark.svg"
          width="60"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Fast service</h5>
          <p class="card-text graphics-card-p">
            For each agreement signed into a quality assurance process, our in-house editors give a fast turnaround. We are now eligible for instant distribution! In a matter of seconds from system to media! At FliqaIndia you will get access to editing images digital & hardcopy & we ship the finished product in whatever format you require.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-12 ourcredit-card">
      <div class="card graphics-card">
        <img
          class="img-fluid"
          src="../.././img/services/graphics/svgs/knowledge.svg"
          width="60"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Multiple file types</h5>
          <p class="card-text graphics-card-p">
            We truly assume that development brings success. Master file is the base file of your Motion Graphics that helps you to change the designs of your Motion Graphics further. We will supply the master file to enable you to make whatever improvements you like in the future.</p>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-12 ourcredit-card">
      <div class="card graphics-card">
        <img
          class="img-fluid"
          src="../.././img/services/graphics/svgs/call-center-agent.svg"
          width="60"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Free Designers Support</h5>
          <p class="card-text graphics-card-p">
            We are with you every step of the way, from conception to execution. Our Free Designer Support ensures that all your queries are addressed and you get the best advice regarding taglines and information that is to be displayed on Motion Graphic
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 ourcredit-card">
      <div class="card graphics-card">
        <img
          class="img-fluid"
          src="../.././img/services/graphics/svgs/backup-copy.svg"
          width="60"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Backup services</h5>
          <p class="card-text graphics-card-p">
            Security is our top-most priority. To ensure that your Motion Graphics are safe, we provide backup services that last for one year.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../../partials/footer.ejs'); -%> <%-
include('../../partials/scripts.ejs'); -%>
