<%- include('../../partials/head.ejs'); -%> <%-
include('../../partials/nav.ejs'); -%>


<div class="jumbotron jumbotron-fluid graphics-jumbotron">
  <div class="container">
    <h1 class="text-center graphics-jumbotron-text">UI/UX Design</h1>
  </div>
</div>

<div class="container text-center my-4">
  <p>
    Would you like to develop your company with a team who has a consistent design method,
    fulfills deadlines and gives an outstanding result? Switch to the UI and UX systems of Fliqaindia.
    Our design team is a tiny studio inside a big tech corporation, allowing you to quickly and quick
    create an appealing product. Fliqaindia is one of the strongest IT design firms for the tech
    devices in India, offering cutting-edge user interface concepts. Our designers create
    outstanding UI and UX projects fantastically. We have easy and high-performance applications
    while providing reliable business technology. For specific platforms and cross-platform
    software, we develop apps and deliver a robust user interface. We can work with the team
    through the complete production process, from the development of the data architecture
    through the creation of wireframes, Cross-Platform App UI / UX design services, interaction and
    UX design, prototype design, custom icons and code transformation
  </p>
</div>

<section style="margin: 3% 0 0 0">
    <div class="container text-center">
        <div class="row">
          <div class="col-12 col-md-3 mb-4">
            <div class="card rounded-pill service-img-shadow border-0" style="background-color: #e0beff;">
              <div class="card-body">
                <h4>Prototype design</h4>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3 mb-4">
            <div class="card rounded-pill service-img-shadow border-0"  style="background-color: #4dd5ff;">
              <div class="card-body">
                <h4>Front end design</h4>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3 mb-4">
            <div class="card rounded-pill service-img-shadow border-0" style="background-color: #ffd27d;">
              <div class="card-body" >
                <h4>Website design</h4>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3 mb-4">
            <div class="card rounded-pill service-img-shadow border-0" style="background-color: #b1ffd8;">
              <div class="card-body">
                <h4>Mobile UI design</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>

<h2 class="text-center header">Why Choose Us ?</h2>

<div
  class="container my-4"
  style="
    background-color: #4c86ca;
    padding: 5%;
    border-radius: 20px;
    color: #fff;
  "
>
  <div class="row">
    <div class="col-12 col-md-6">
      <p>Analise your business</p>
      <p>Project planning</p>
      <p>Script creation</p>
      <p>CResponssive design</p>
    </div>
    <div class="col-12 col-md-6" style="margin: 2% 0;">
      <h5>Price starting at ₹500/-</h5>
      <button class="btn btn-res">Start Designing</button>
    </div>
  </div>
</div>




<h2 class="text-center header">Our Recent Works</h2>

<section>
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/UI-UX-Design/1.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/UI-UX-Design/2.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/UI-UX-Design/3.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/UI-UX-Design/4.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/UI-UX-Design/5.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/UI-UX-Design/6.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/UI-UX-Design/7.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/UI-UX-Design/8.jpg"
          alt=""
        />
      </div>
    </div>

      <!-- Read More  -->
      <style>
        #more {
          display: none;
        }
      </style>
      <span id="dots" style="color: #fff;">...</span>
     <span id="more">

     <div class="row">
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/UI-UX-Design/9.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/UI-UX-Design/10.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/UI-UX-Design/11.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/UI-UX-Design/12.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/UI-UX-Design/13.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/UI-UX-Design/14.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/UI-UX-Design/15.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/UI-UX-Design/16.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/UI-UX-Design/17.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/UI-UX-Design/18.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/UI-UX-Design/19.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/UI-UX-Design/20.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/UI-UX-Design/21.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/UI-UX-Design/22.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/UI-UX-Design/23.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/UI-UX-Design/24.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/UI-UX-Design/25.jpg"
          alt=""
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid m-2"
          src="../../img/services/graphics/UI-UX-Design/26.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

<!-- Reacd More Btn -->
<div class="text-center m-4">
<button class="btn btn-lg rounded-pill shadow btn-res" onclick="myFunction()" id="myBtn" style="background-color: cornflowerblue;">View more</button>
</div>

<script>
function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "View more";
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "View less";
    moreText.style.display = "inline";
  }
}
</script>




<style>
  .ourcredit-card {
    padding: 2%;
  }
  .graphics-card {
    height: 300px;
  }
  .graphics-card-p {
    font-size: 0.8rem;
  }
</style>

<h2 class="text-center header">Our Credit</h2>

<div
  class="container-fluid text-center pb-4"
  style="background-color: #f1f6fd;"
>
  <div class="row" style="padding-top: 2%;">
    <div class="col-md-3 col-12 ourcredit-card">
      <div class="card graphics-card">
        <img
          class="img-fluid"
          src="../.././img/services/graphics/svgs/choose-from-samples.svg"
          width="60"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Choose from samples</h5>
          <p class="card-text graphics-card-p">
            The more, the merrier. When you are creating your logo, you will be
            given a set of samples to choose from so that more options give you
            the freedom to choose what you desire. And we ensure that you will
            get whatever you have chosen.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 ourcredit-card">
      <div class="card graphics-card">
        <img
          class="img-fluid"
          src="../.././img/services/graphics/svgs/checkmark.svg"
          width="60"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Available modification</h5>
          <p class="card-text graphics-card-p">
            Modification begets perfection. After selecting your sample, you can
            ask for modifications to the logo so that you get the perfect logo
            tailored right for you.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 ourcredit-card">
      <div class="card graphics-card">
        <img
          class="img-fluid"
          src="../.././img/services/graphics/svgs/add.svg"
          width="60"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Fast service</h5>
          <p class="card-text graphics-card-p">
            For each agreement signed into a quality assurance process, our
            in-house editors give a fast turnaround. We are now eligible for
            instant distribution! In a matter of seconds from camera to media!
            At FliqaIndia you will get access to editing images digital &
            hardcopy & we ship the finished product in whatever format you
            require.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 ourcredit-card">
      <div class="card graphics-card">
        <img
          class="img-fluid"
          src="../.././img/services/graphics/svgs/file.svg"
          width="60"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">90 Days Guarantee</h5>
          <p class="card-text graphics-card-p">
            We design what you desire. To ensure that you get the best, we give
            a 90 day guarantee period. You can ask for any changes to be made
            for free within 90 days of making the logo.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 ourcredit-card">
      <div class="card graphics-card">
        <img
          class="img-fluid"
          src="../.././img/services/graphics/svgs/knowledge.svg"
          width="60"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Multiple file types</h5>
          <p class="card-text graphics-card-p">
            To bring your logo to life we provide 3 file types: jpg, png and
            pdf. Whether you choose basic, advance or premium, you will get 3
            file types so that your logo can cater to all your needs.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 ourcredit-card">
      <div class="card graphics-card">
        <img
          class="img-fluid"
          src="../.././img/services/graphics/svgs/rate.svg"
          width="60"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Master file included</h5>
          <p class="card-text graphics-card-p">
            We firmly believe that change brings progress. Master file is the
            source file of your logo that enables you to make further changes to
            your logo. We will provide the master file so that you can be
            empowered to make any modifications you desire in future.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-12 ourcredit-card">
      <div class="card graphics-card">
        <img
          class="img-fluid"
          src="../.././img/services/graphics/svgs/call-center-agent.svg"
          width="60"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Free Designers Support</h5>
          <p class="card-text graphics-card-p">
            We are with you every step of the way, from conception to execution.
            Our Free Designer Support ensures that all your queries are
            addressed and you get the best advice regarding taglines and
            information that is to be displayed on the logo.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 ourcredit-card">
      <div class="card graphics-card">
        <img
          class="img-fluid"
          src="../.././img/services/graphics/svgs/backup-copy.svg"
          width="60"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Backup services</h5>
          <p class="card-text graphics-card-p">
            Security is our top-most priority. To ensure that your logo is safe,
            we provide backup services that last for one year.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../../partials/footer.ejs'); -%> <%-
include('../../partials/scripts.ejs'); -%>
