<%- include('partials/head.ejs'); -%>
<%- include('partials/nav.ejs'); -%>


<style>
    	@media only screen and (max-width: 600px) {
            .mmm{
                margin-top: 19%;
            }
		}
</style>
<div class="mmm">
    <img src="./img/about-us/untitledmmm.svg" alt="" width="100%">
</div>

<style>
    .mot{
        margin: 8% 0% 2% 0%;
    }
</style>



<div class="box container">

    <div class="img-title">
        <h2 class="text-center about-us header">About Us</h2>
        <p class="paragraph">
            At Fliqaindia it is our squad, creativity and enthusiasm which we believe is at our competitive
            edge. Our staff is committed to giving you a quality of which you are sincerely worthy. We will
            have a tailored Photography services as effective and hospitable as possible, extremely
            adaptable and accessible to your needs. We also seek and take on innovative new ventures and
            collaborate alongside you to crack the mould and push the norms beyond your expectations.
                Whether it is wedding photography, pre wedding photography, portfolio Photoshoot, aerial
                drone photography, or graphic design service, Fliqaindia is always at your services.
                <br>
                <br>
                For your promotions, advertising and many more purposes, Fliqaindia offers graphics services.
                Our graphic designers strive to construct a concept in a quick look, use text, icons, pictures,
                colors, logos etc. to generate visual effects. Fliqaindia offers unparalleled UI and UX design
                services to improve the website design interface and include interactive mobile apps. We
                provide a one-stop solution such as Logo Design, Business card, Posters, banners, brochure, and
                many more.
                <br>
                <br>
                For professional photography services, Fliqaindia is an insight-orientated partner and marketing
                concierge that bring our members together with leading art consumers, creative directors,
                photo publishers and representatives, in a fresh and innovative approach. Our trip started 5
                years ago and now Startup India, Startup Bengal, and Imagesbazaar have sent us this
                recognition to make you realize what we are doing. Our company now ranges across India and
                it's because of our delighted clients who have held confidence in us and rendered each striking
                moment special. We are also trusted by Justdial, WedMEGood, Shaadisaga, weddingwire and so
                many well known event organizers.
            </span>
        </p>
    </div>
</div>

<!-- <h2 class="text-center mot">Meet our Team</h2>

<div class="container">

    <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="..." class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="col-md-4">
            <img src="..." class="card-img" alt="...">
          </div>
        </div>
    </div>

</div> -->




<style>
    .testimonial {
        
        background-color: #ffffff;
        background-image: url("./img/testimony/testimony-bg-svg.svg");

    }

    .test {
        padding: 2% 2%;
    }

    .testimonial-img {
        margin: 0 auto;
        height: 100px;
        width: 100px;

    }

    .img-round {
        border-radius: 50%;
    }
</style>

<section>
    <div class="testimonial container-fluid">

        <h2 class="text-center header mb-4 pt-4">
            <small>TESTIMONY</small>
            <br>
            People are talking</h2>

        <section class="test">
            <div class="">


                <div class="row">
                    <div class="col-12 col-md-6">
                        <div id="wedmegoodReviewes" class="owl-carousel owl-theme text-center">

                            <div class="item">
                                <div class="testimonial-img">
                                    <img class="img-round" src="https://www.kkmm.gov.my/images/sub_bahagian/icon.png" alt="...">
                                </div>
                                <p class="testimonial-text">
                                    Harshit Thakur
                                </p>
                                <p class="testimonial-text">
                                    Wow!!! We love love love the images you captured of our wedding!!
                                    Thank you so much – they are so special to us and I already printed a couple for family still in the country, which they were super excited about.
                                    We will treasure these photos and the memories they so perfectly capture for life 😀
                                </p>
                            </div>

                            <div class="item">
                                <div class="testimonial-img">
                                    <img class="img-round" src="https://www.kkmm.gov.my/images/sub_bahagian/icon.png" alt="...">
                                </div>
                                <p class="testimonial-text">
                                    Samiksha Rana
                                </p>
                                <p class="testimonial-text">
                                    I found your work perfect. Photos are really lovely and your editing skills are jaw dropping.
                                    I must say the couple was very happy after reviewing there photos on the special day clicked by you guys.
                                    Love them all
                                </p>
                            </div>

                            <div class="item">
                                <div class="testimonial-img">
                                    <img class="img-round" src="https://www.kkmm.gov.my/images/sub_bahagian/icon.png" alt="...">
                                </div>
                                <p class="testimonial-text">
                                    Senthil Kumar
                                </p>
                                <p class="testimonial-text">
                                    Superb platform. Nice customer handling organization. Very fame network. Gorgeous photo samples are been displayed in the social medias. Attractive social media sample pictures are being displayed. Reasonable price.
                                </p>
                            </div>
                        </div>
                        <h4 class="text-center">WedMeGood</h4>
                    </div>
                    <!-- <div class="col-12 col-md-6">
                        <div id="googleReviewes" class="owl-carousel owl-theme text-center">

                            <div class="item">
                                <div class="testimonial-img">
                                    <img class="img-round" src="https://www.kkmm.gov.my/images/sub_bahagian/icon.png" alt="...">
                                </div>
                                <p class="testimonial-text">
                                    A caption for the above image.
                                </p>
                            </div>

                            <div class="item">
                                <div class="testimonial-img">
                                    <img class="img-round" src="https://www.kkmm.gov.my/images/sub_bahagian/icon.png" alt="...">
                                </div>
                                <p class="testimonial-text">
                                    A caption for the above image.
                                </p>
                            </div>

                            <div class="item">
                                <div class="testimonial-img">
                                    <img class="img-round" src="https://www.kkmm.gov.my/images/sub_bahagian/icon.png" alt="...">
                                </div>
                                <p class="testimonial-text">
                                    A caption for the above image.
                                </p>
                            </div>
                        </div>
                        <h4 class="text-center">Google</h4>
                    </div> -->
                    <div class="col-12 col-md-6">
                        <div id="facebookReviewes" class="owl-carousel owl-theme text-center">

                            <div class="item">
                                <div class="testimonial-img">
                                    <img class="img-round" src="https://scontent.frdp1-1.fna.fbcdn.net/v/t1.0-9/102660732_101045564997083_5628275881851871046_n.jpg?_nc_cat=105&_nc_sid=09cbfe&_nc_ohc=2imMZO12bygAX-Ytik1&_nc_ht=scontent.frdp1-1.fna&oh=8f54c000d4aa5f4568e0c65d92664f4d&oe=5F409A79" alt="...">
                                </div>
                                <p class="testimonial-text">
                                    Alexander John 
                                </p>
                                <p class="testimonial-text">
                                    Super responsive, quality work, wholesome professionals. You people are just best at what you all do. One of my best wedding decisions i have ever taken. Arshid , Thank You and your team from the bottom of my heart for making our day even more special and memorable.
                                </p>
                            </div>

                            <div class="item">
                                <div class="testimonial-img">
                                    <img class="img-round" src="https://www.kkmm.gov.my/images/sub_bahagian/icon.png" alt="...">
                                </div>
                                <p class="testimonial-text">
                                    A caption for the above image.
                                </p>
                            </div>

                            <div class="item">
                                <div class="testimonial-img">
                                    <img class="img-round" src="https://www.kkmm.gov.my/images/sub_bahagian/icon.png" alt="...">
                                </div>
                                <p class="testimonial-text">
                                    A caption for the above image.
                                </p>
                            </div>

                            <div class="item">
                                <div class="testimonial-img">
                                    <img class="img-round" src="https://scontent.frdp1-1.fna.fbcdn.net/v/t1.0-9/95962097_919089245163091_1887277426648547328_n.jpg?_nc_cat=107&_nc_sid=09cbfe&_nc_ohc=SGayW70SxY4AX8hxwQL&_nc_oc=AQndDTmUIoS6rjFu--Z2DxjdXzXMjT6qFoMSsSXiKdKteJM0pFio1J1enL6Q_mS8iK9mJGPPvasA3BZ-c2kwp-TT&_nc_ht=scontent.frdp1-1.fna&oh=5fac2fd23f9e96fb8a3a3d09b2cf2bc2&oe=5F414E3E" alt="...">
                                </div>
                                <p class="testimonial-text">
                                    Snehith Reddy
                                </p>
                                <p class="testimonial-text">
                                    Fliqaindia is really a massive photos by this photographer really loved each and every photos taken with full of love❤️Very Perfect captures Really everyone will experience a awesome photographies eith best graphics designer.
                                </p>
                            </div>

                            <div class="item">
                                <div class="testimonial-img">
                                    <img class="img-round" src="https://scontent.frdp1-1.fna.fbcdn.net/v/t1.0-9/102604777_107911014294921_2383543251602747241_n.jpg?_nc_cat=108&_nc_sid=09cbfe&_nc_ohc=6TKwhklz4mkAX_hGZAG&_nc_ht=scontent.frdp1-1.fna&oh=1d11aa61ae0c2e94c8430c047b3399f3&oe=5F413428" alt="...">
                                </div>
                                <p class="testimonial-text">
                                    Salman Khan
                                </p>
                                <p class="testimonial-text">
                                    Great corporate photos 🤩 and talented photographers 🤩 Fliqaindia is very efficient and quick moreover really bring out d best 💌 Would thoroughly recommend 🤗
                                </p>
                            </div>

                            <div class="item">
                                <div class="testimonial-img">
                                    <img class="img-round" src="https://scontent.frdp1-1.fna.fbcdn.net/v/t1.0-9/83989494_1003977916639895_7865615737946112000_o.jpg?_nc_cat=100&_nc_sid=09cbfe&_nc_ohc=oDyyakQrIM4AX8gFv6M&_nc_ht=scontent.frdp1-1.fna&oh=cdf650a8df15b92312d2702a67993c7a&oe=5F41F6C6" alt="...">
                                </div>
                                <p class="testimonial-text">
                                    Gana Varun Ambarapu
                                </p>
                                <p class="testimonial-text">
                                    Really I got excited with amazing photography of these guys they are best at wedding photoshoots wonderful graphics designs innovative logo design and many more cool stuff they are best at what they can do.
                                </p>
                            </div>

                        </div>
                        <h4 class="text-center">Facebook</h4>
                    </div>
                </div>


            </div>
        </section>

    </div>
</section>


<%- include('partials/footer.ejs'); -%>
<%- include('partials/scripts.ejs'); -%>