<%- include('partials/head.ejs'); -%>
<%- include('partials/nav.ejs'); -%>

    <!-- Jumbotron -->
    <style>
        @media only screen and (max-width: 600px) {
            .freelancer-jumbo {
                margin-top: 4rem;
            }
        }

        .jumbotron {
            margin-bottom: 0rem;
        }

        .freelancer-jumbo {
            margin-top: 3.5rem;
        }
    </style>

    <div class="jumbotron jumbotron-fluid freelancer-jumbo">
        <div class="container text-center">
            <h1 class="">Freelancers</h1>
            <p class="lead">
                Do you often feel that taking pictures is nothing less than an art? Do you always feel like carrying your
                camera whenever you are around an event? If so, you may consider this kind of career for the long run.
                Isn’t it sounding fascinating? This genre is as stunning as it sounds for many professionals in this field.
                Let's dive inside and explore yourself into this profession with Fliqaindia.
            </p>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid" style="background-color: #D0E1FA;">
        <div class="container p-4 text-center">
            <h1>Photography</h1>
            <p>
                We have many freelancers working with us to enhance their skills to these competent and dedicated
                professionals. You can access their profile here and schedule your events with them. Fliqaindia takes all
                the necessary responsibilities on behalf of every freelancer while providing the top-notch service
                irrespective of any event. They will recreate and help you frame all your fondest memories on the walls.
                To send you the best abilities, we just have the best profiles with 3.5 or more ratings.
            </p>
        </div>
    </div>

    <style>
        .freelancer-name {
            margin-top: 80%;
        }

        .freelancer-row {
            padding: 2rem 0 0 0;
        }

        .freelancer-card {
            margin: 0 auto;
        }


        @media only screen and (max-width: 600px) {
            .freelancer-name {
                margin-top: 55%;
            }
        }
    </style>

    <section style="background-color: #EBF3FF;">
        <div class="container">
            <div class="row freelancer-row">
                <div class="col-md-4 col-sm-6 col-6 pb-4">
                    <a href="/freelancers/profiles/profile1.html" class="card text-white freelancer-card">
                        <img src="https://via.placeholder.com/150" class="card-img" alt="...">
                        <div class="card-img-overlay ">

                            <p class="card-title text-center freelancer-name">Karthim a hegde</p>
                            <p class="card-title text-center">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/black-full-star.svg" alt="">
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-6 pb-4">
                    <div class="card text-white freelancer-card">
                        <img src="https://via.placeholder.com/150" class="card-img" alt="...">
                        <div class="card-img-overlay ">

                            <p class="card-title text-center freelancer-name">Card title</p>
                            <p class="card-title text-center">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/black-full-star.svg" alt="">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-6 pb-4">
                    <div class="card text-white freelancer-card">
                        <img src="https://via.placeholder.com/150" class="card-img" alt="...">
                        <div class="card-img-overlay ">

                            <p class="card-title text-center freelancer-name">Card title</p>
                            <p class="card-title text-center">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/black-full-star.svg" alt="">
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-6 pb-4">
                    <div class="card text-white freelancer-card">
                        <img src="https://via.placeholder.com/150" class="card-img" alt="...">
                        <div class="card-img-overlay ">

                            <p class="card-title text-center freelancer-name">Card title</p>
                            <p class="card-title text-center">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/black-full-star.svg" alt="">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-6 pb-4">
                    <div class="card text-white freelancer-card">
                        <img src="https://via.placeholder.com/150" class="card-img" alt="...">
                        <div class="card-img-overlay ">

                            <p class="card-title text-center freelancer-name">Card title</p>
                            <p class="card-title text-center">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/black-full-star.svg" alt="">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-6 pb-4">
                    <div class="card text-white freelancer-card">
                        <img src="https://via.placeholder.com/150" class="card-img" alt="...">
                        <div class="card-img-overlay ">

                            <p class="card-title text-center freelancer-name">Card title</p>
                            <p class="card-title text-center">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/black-full-star.svg" alt="">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="booknow ">
            <div class="text-center">
                <button type="button" class="btn btn-lg rounded-pill btn-res mb-4" style="background-color: #2B9DB6;">
                    See More </button>
            </div>
        </section>

    </section>

    <div class="jumbotron jumbotron-fluid" style="background-color: #D8D8D8;">
        <div class="container p-4 text-center">
            <h1>Cinematography</h1>
            <p>
                Of course, cinematographers play a significant role in the creation of a picture. The key goal of the
                cinematographer is to catch the dream of the director. A DP converts this illusion into pictures utilizing
                illumination, camera and design techniques. Here are our leading visionaries who will help you record
                the moments of your live, to show the magic and insanity of the event.
            </p>
        </div>
    </div>

    <style>
        .freelancer-name {
            margin-top: 80%;
        }

        .freelancer-row {
            padding: 2rem 0 0 0;
        }

        .freelancer-card {
            margin: 0 auto;
        }


        @media only screen and (max-width: 600px) {
            .freelancer-name {
                margin-top: 55%;
            }
        }
    </style>

    <section style="background-color: #EDEDED;">
        <div class="container">
            <div class="row freelancer-row">
                <div class="col-md-4 col-sm-6 col-6 pb-4">
                    <div class="card text-white freelancer-card">
                        <img src="https://via.placeholder.com/150" class="card-img" alt="...">
                        <div class="card-img-overlay ">

                            <p class="card-title text-center freelancer-name">Card title</p>
                            <p class="card-title text-center">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/black-full-star.svg" alt="">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-6 pb-4">
                    <div class="card text-white freelancer-card">
                        <img src="https://via.placeholder.com/150" class="card-img" alt="...">
                        <div class="card-img-overlay ">

                            <p class="card-title text-center freelancer-name">Card title</p>
                            <p class="card-title text-center">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/black-full-star.svg" alt="">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-6 pb-4">
                    <div class="card text-white freelancer-card">
                        <img src="https://via.placeholder.com/150" class="card-img" alt="...">
                        <div class="card-img-overlay ">

                            <p class="card-title text-center freelancer-name">Card title</p>
                            <p class="card-title text-center">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/yellow-full-star.svg" alt="">
                                <img src="/freelancers/svg/black-full-star.svg" alt="">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="booknow ">
            <div class="text-center">
                <button type="button" class="btn btn-lg rounded-pill btn-res mb-4" style="background-color: #2B9DB6;">
                    See More </button>
            </div>
        </section>

    </section>



    <section>

        <style>
            .graphics-row {
                padding: 2rem 0 0 0;
            }

            .graphics-card {
                margin: 0 auto;
            }


            @media only screen and (max-width: 600px) {}
        </style>

        <div class="jumbotron jumbotron-fluid" style="background-color: #D5CEFF;">
            <div class="container p-4 text-center">
                <h1>Graphic Designers</h1>
                <p>
                    Graphics is an interactive tool that we use to represent our thoughts so the more knowledge that can be
                    stored as we can interact. Multimedia designs are generated by graphic designers utilizing or by hand
                    machine software to express ideas that encourage, educate and captivate customers. They develop the
                    overall design and production for applications like advertising, brochures and magazines. Therefore,
                    Fliqaindia has come up with the best graphic designers in the town. Give them a look!
                </p>
            </div>
        </div>


        <div class="container">
            <div class="row graphics-row">
                <div class="col-6 col-md-4 pb-4">
                    <div class="card graphics-card">
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <span>
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col"></div>
                                    <div class="col"></div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 pb-4">
                    <div class="card graphics-card">
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <span>
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col"></div>
                                    <div class="col"></div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 pb-4">
                    <div class="card graphics-card">
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <span>
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col"></div>
                                    <div class="col"></div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 pb-4">
                    <div class="card graphics-card">
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <span>
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col"></div>
                                    <div class="col"></div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 pb-4">
                    <div class="card graphics-card">
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <span>
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col"></div>
                                    <div class="col"></div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 pb-4">
                    <div class="card graphics-card">
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <span>
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col"></div>
                                    <div class="col"></div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="booknow ">
            <div class="text-center">
                <button type="button" class="btn btn-lg rounded-pill btn-res mb-4" style="background-color: #2B9DB6;">
                    See More </button>
            </div>
        </section>

    </section>





    <div class="jumbotron jumbotron-fluid" style="background-color: #FFBCE8;">
        <div class="container p-4 text-center">
            <h1>Make-up Artist</h1>
            <p>
                A professional make-up artist knows when and what to use while you are on the field of work. Make-up
                artists are also familiar with how certain kinds of make-up influence how the pictures are taken and how
                light impact the make-up shades and how they will blend with your face. As a make-up artist, it is
                important to understand your position and optimize your skill, imagination and commitment to the rest
                of the staff. So, explore Fliqaindia’s most reliable team of make-up artists who will perform their heart
                out while you are getting captured for your event.
            </p>
        </div>
    </div>

    <style>
        .makup-row {
            padding: 2rem 0 0 0;
        }

        .makup-card {
            margin: 0 auto;
        }
        .makup-img{
            padding: 8%;
        }


        @media only screen and (max-width: 600px) {
            .makup-name {
                margin-top: 55%;
            }
        }
    </style>

    <section style="background-color: #FFF2FB;">
        <div class="container">
            <div class="row makup-row">
                <div class="col-md-4 col-sm-6 col-6 pb-4">
                    <div class="card makup-card">
                        <img src="https://via.placeholder.com/150" class="makup-img card-img-top rounded-circle" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-6 pb-4">
                    <div class="card makup-card">
                        <img src="https://via.placeholder.com/150" class="makup-img card-img-top rounded-circle" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-6 pb-4">
                    <div class="card makup-card">
                        <img src="https://via.placeholder.com/150" class="makup-img card-img-top rounded-circle" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <style>
            .btn-res {
                background-color: #2B9DB6;
                color: #fff;
                padding: 10px 60px;

                transition: transform .2s;

                -webkit-box-shadow: 0px 0px 10px -1px rgba(156, 156, 156, 1);
                -moz-box-shadow: 0px 0px 10px -1px rgba(156, 156, 156, 1);
                box-shadow: 0px 0px 10px -1px rgba(156, 156, 156, 1);
            }

            .btn-res:hover {
                transform: scale(1.2);
                color: #fff;

                -webkit-box-shadow: 0px 0px 38px -1px rgba(168, 168, 168, 1);
                -moz-box-shadow: 0px 0px 38px -1px rgba(168, 168, 168, 1);
                box-shadow: 0px 0px 38px -1px rgba(168, 168, 168, 1);
            }



            @media only screen and (max-width: 600px) {

                .booknow {
                    margin: 2% 0 0 0;
                }

                .btn-res {
                    font-size: 14px;

                    color: #fff;
                    padding: 10px 40px;
                }
            }
        </style>

        <section class="booknow ">
            <div class="text-center">
                <button type="button" class="btn btn-lg rounded-pill btn-res mb-4" style="background-color: #2B9DB6;">
                    See More </button>
            </div>
        </section>

    </section>


    <div class="jumbotron jumbotron-fluid">
        <div class="container p-4 text-center">
            <h1> Are you a Freelancer?</h1>
            <section class="booknow mt-4">
                <div class="text-center">
                    <button type="button" class="btn btn-md rounded-pill btn-res" style="background-color: #2B9DB6;">
                        Join Us 
                    </button>
                </div>
            </section>
        </div>
    </div>


    <%- include('partials/footer.ejs'); -%>
    <%- include('partials/scripts.ejs'); -%>