<%- include('../../partials/head.ejs'); -%>
<%- include('../../partials/nav.ejs'); -%>

<div class="text-white graphics-jumbotron" style="background:rgb(245, 245, 245); padding: 5% 0;">
    <div class="container">

            <div class="row">
                <div class="col-12 col-md-6">
            <img class="img-fluid rounded-circle mx-auto d-block" 
                        src="https://mir-s3-cdn-cf.behance.net/user/115/d4468d54730439.5f0b6c396d327.jpg">
        
                    </div>
                    <div class="col-12 col-md-6 text-dark text-center" style="padding: 5% 0;">
                        <h4 class=" mx-auto d-block">Name : Aakash Lohar</h4>
                    </div>
            </div>
    </div>
</div>

<div class="container">
    <h2 class="text-center header">Works</h2>

    <div class="row">
        <div class="col-6 col-md-4 mb-4">
            <img class="img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/27b75783983233.5d4d1fea21c84.jpg" alt="">
        </div>
        <div class="col-6 col-md-4 mb-4">
            <img class="img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/53e6ee83983233.5d4d1fea1f8ee.jpg" alt="">
        </div>
        <div class="col-6 col-md-4 mb-4">
            <img class="img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/e3efd283985009.5d4d2f2314dca.jpg" alt="">
        </div>
        <div class="col-6 col-md-4 mb-4">
            <img class="img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/01a40283985009.5d4d2f231480f.jpg" alt="">
        </div>
        <div class="col-6 col-md-4 mb-4">
            <img class="img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/6820d187647613.5dbefc34e0002.jpg" alt="">
        </div>
        <div class="col-6 col-md-4 mb-4">
            <img class="img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/91cfaf99738355.5ef9c41167ff7.jpg" alt="">
        </div>
    </div>
</div>

<div class="ui-bg-overlay-container">
    <div class="ui-bg-overlay bg-dark opacity-25"></div>

</div>
</div>

<%- include('../../partials/footer.ejs'); -%>
<%- include('../../partials/scripts.ejs'); -%>