<%- include('../../partials/head.ejs'); -%>
<%- include('../../partials/nav.ejs'); -%>

<div class="text-white graphics-jumbotron" style="background:rgb(245, 245, 245); padding: 5% 0;">
    <div class="container">

            <div class="row">
                <div class="col-12 col-md-6">
            <img class="img-fluid rounded-circle mx-auto d-block" 
                        src="https://mir-s3-cdn-cf.behance.net/user/115/263aec307390193.5d971cf9c475f.jpg">
        
                    </div>
                    <div class="col-12 col-md-6 text-dark text-center" style="padding: 5% 0;">
                        <h4 class=" mx-auto d-block">Name : Dinesh Suthar</h4>
                    </div>
            </div>
    </div>
</div>

<div class="container">
    <h2 class="text-center header">Works</h2>

    <div class="row">
        <div class="col-6 col-md-4 mb-4">
            <img class="img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/626bc686368541.5d971a1069590.jpg" alt="">
        </div>
        <div class="col-6 col-md-4 mb-4">
            <img class="img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/e6b83286368541.5d971a1067007.jpg" alt="">
        </div>
        <div class="col-6 col-md-4 mb-4">
            <img class="img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/f82d9c86368541.5d971a10668cc.jpg" alt="">
        </div>
        <div class="col-6 col-md-4 mb-4">
            <img class="img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/37a93b86368541.5d971a106800c.jpg" alt="">
        </div>
        <div class="col-6 col-md-4 mb-4">
            <img class="img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/3de37486368541.5d971a1069d6f.jpg" alt="">
        </div>
        <div class="col-6 col-md-4 mb-4">
            <img class="img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/871c7586368541.5d971a106a4b0.jpg" alt="">
        </div>
    </div>
</div>

<div class="ui-bg-overlay-container">
    <div class="ui-bg-overlay bg-dark opacity-25"></div>

</div>
</div>

<%- include('../../partials/footer.ejs'); -%>
<%- include('../../partials/scripts.ejs'); -%>