<%- include('../../partials/head.ejs'); -%>
<%- include('../../partials/nav.ejs'); -%>

<div class="text-white graphics-jumbotron" style="background:rgb(245, 245, 245); padding: 5% 0;">
    <div class="container">

            <div class="row">
                <div class="col-12 col-md-6">
            <img class="img-fluid rounded-circle mx-auto d-block" 
                        src="https://mir-s3-cdn-cf.behance.net/user/115/62004e342796675.5cb628fac8e7a.jpg">
        
                    </div>
                    <div class="col-12 col-md-6 text-dark text-center" style="padding: 5% 0;">
                        <h4 class=" mx-auto d-block">Name : Aakash Lohar</h4>
                    </div>
            </div>
    </div>
</div>

<div class="container">
    <h2 class="text-center header">Works</h2>

    <div class="row">
        <div class="col-6 col-md-4 mb-4">
            <img class="img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/2abc7689731905.5dfe336b8c53a.jpg" alt="">
        </div>
        <div class="col-6 col-md-4 mb-4">
            <img class="img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/463c8d89731905.5dfe3c8d7534c.jpg" alt="">
        </div>
        <div class="col-6 col-md-4 mb-4">
            <img class="img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/1501be89730977.5dfe2a7531ac0.jpg" alt="">
        </div>
        <div class="col-6 col-md-4 mb-4">
            <img class="img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/bbb6ed89594845.5df9bba9e7e25.jpg" alt="">
        </div>
        <div class="col-6 col-md-4 mb-4">
            <img class="img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/d6c80e88693499.5dde0760a9163.jpg" alt="">
        </div>
        <div class="col-6 col-md-4 mb-4">
            <img class="img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/4f311e87618377.5dbdbc941df3d.jpg" alt="">
        </div>
    </div>
</div>

<div class="ui-bg-overlay-container">
    <div class="ui-bg-overlay bg-dark opacity-25"></div>

</div>
</div>

<%- include('../../partials/footer.ejs'); -%>
<%- include('../../partials/scripts.ejs'); -%>