<%- include('../../partials/head.ejs'); -%>
<%- include('../../partials/nav.ejs'); -%>

<div class="text-white graphics-jumbotron" style="background:rgb(245, 245, 245); padding: 5% 0;">
    <div class="container">

            <div class="row">
                <div class="col-12 col-md-6">
            <img class="img-fluid rounded-circle mx-auto d-block" 
                        src="https://mir-s3-cdn-cf.behance.net/user/115/36bf56166257141.5cbd90ad7a591.jpg">
        
                    </div>
                    <div class="col-12 col-md-6 text-dark text-center" style="padding: 5% 0;">
                        <h4 class=" mx-auto d-block">Name : Aakash Lohar</h4>
                    </div>
            </div>
    </div>
</div>

<div class="container">
    <h2 class="text-center header">Works</h2>

    <div class="row">
        <div class="col-6 col-md-4 mb-4">
            <img class="img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/8d909a89715795.5dfd5adac5e8d.jpg" alt="">
        </div>
        <div class="col-6 col-md-4 mb-4">
            <img class="img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/48013a79246837.5cbdd0e761f5b.jpg" alt="">
        </div>
        <div class="col-6 col-md-4 mb-4">
            <img class="img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/f16b3879246581.5cbdcfc040584.jpg" alt="">
        </div>
        <div class="col-6 col-md-4 mb-4">
            <img class="img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/96c70f79246467.5cbdcf39e0f3a.jpg" alt="">
        </div>
        <div class="col-6 col-md-4 mb-4">
            <img class="img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/b3292c79246197.5cbdcdcdd2661.jpg" alt="">
        </div>
        <div class="col-6 col-md-4 mb-4">
            <img class="img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/de112d79246053.5cbdccf31cd33.jpg" alt="">
        </div>
    </div>
</div>

<div class="ui-bg-overlay-container">
    <div class="ui-bg-overlay bg-dark opacity-25"></div>

</div>
</div>

<%- include('../../partials/footer.ejs'); -%>
<%- include('../../partials/scripts.ejs'); -%>