<%- include('../../partials/head.ejs'); -%>
<%- include('../../partials/nav.ejs'); -%>


<div class="jumbotron jumbotron-fluid photography-jumbotron">
  <div class="container">
      <h1 class="text-center photography-jumbotron-text">Beach Photography</h1>
  </div>
</div>


  <style>
    .details-text {
      padding: 5% 0;
    }
  </style>
  <div class="container">
    <p class="details-text">
      For many of our clients, Fliqaindia produces beach photography to encourage them appealing
      creative stuff for their communities. We have a lot of familiarity with models, who are already a
      contact of everyday life, in order to create effortless and creative photographs of people. We
      aim to be listed as one of the finest Beach Photography services in the industry. Fliqaindia have
      digital camera photographers because beach photoshoots require right photography
      knowledge. Beaches are the areas of natural scenery, combined with color and fascinating
      atmosphere, with a range of great opportunities. Through unrivaled photography facilities, our
      capacity to grow and raise footprints makes us the industry leader. In addition, we agree that
      team leaders' skill and expertise offer us a competitive advantage, provided that they depend
      on specialized photography knowledge. We provide complete guarantee of perfect clicks just
      like you desire. There is a combined package with our complete portrait photography package
      or take it as a separate add-on. It’s up to your wish and convenience what you choose.
    </p>
  </div>

  <div class="container">
    <div class="row ">
      <div class="col-12 col-md-6">
        <div class="whatyouget text-center">
          <p><img src="../../svg/correct.svg" alt="">Special edited photos full HD</p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="whatyouget text-center">
          <p><img src="../../svg/correct.svg" alt="">Special edited photos full HD</p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="whatyouget text-center">
          <p><img src="../../svg/correct.svg" alt="">Special edited photos full HD</p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="whatyouget text-center">
          <p><img src="../../svg/correct.svg" alt="">Special edited photos full HD</p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="whatyouget text-center">
          <p><img src="../../svg/correct.svg" alt="">Special edited photos full HD</p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="whatyouget text-center">
          <p><img src="../../svg/correct.svg" alt="">Special edited photos full HD</p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="whatyouget text-center">
          <p><img src="../../svg/correct.svg" alt="">Special edited photos full HD</p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="whatyouget text-center">
          <p><img src="../../svg/correct.svg" alt="">Special edited photos full HD</p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="whatyouget text-center">
          <p><img src="../../svg/correct.svg" alt="">Special edited photos full HD</p>
        </div>
      </div>
    </div>
  </div>



  <style>
    .priceing-area {
      margin: 5% 0 0 0;
    }
  </style>
  <div class="container-fluid priceing-area">
    <hr>
    <div class="whatyouget text-center">
      <p><img src="../../svg/correct.svg" alt="">
        Service will be covered up by two professional (Traditional & Candid) photographers and two top videographers.
      </p>
      <hr>

      <div class="whatyouget text-center">
        <p><img src="../../svg/ruppee.svg" alt="">
          <span style="color: cornflowerblue; font-size: 1.5rem;">Price starting at</span><span
            style="font-size: 1.5rem;padding: 0 1%;color: #0075FF;">₹61,000</span> <span
            style="font-size: 1.5rem;padding: 0 1%;color: #0075FF;"><del>₹81,000</del></span>
        </p>
        <hr>

      </div>
    </div>
  </div>

  <style>
    .btn-res {
      background-color: #57A4FF;
      color: #fff;
      padding: 10px 60px;
      transition: transform .2s;
      -webkit-box-shadow: 0px 0px 10px -1px rgba(156, 156, 156, 1);
      -moz-box-shadow: 0px 0px 10px -1px rgba(156, 156, 156, 1);
      box-shadow: 0px 0px 10px -1px rgba(156, 156, 156, 1);
    }

    .btn-res:hover {
      transform: scale(1.2);
      color: #fff;

      -webkit-box-shadow: 0px 0px 38px -1px rgba(168, 168, 168, 1);
      -moz-box-shadow: 0px 0px 38px -1px rgba(168, 168, 168, 1);
      box-shadow: 0px 0px 38px -1px rgba(168, 168, 168, 1);
    }

    @media only screen and (max-width: 600px) {

      .booknow {
        margin: 2% 0 0 0;
      }

      .btn-res {
        font-size: 14px;

        color: #fff;
        padding: 10px 40px;
      }
    }

  </style>

  <section class="booknow ">
    <div class="text-center">
      <button type="button" class="btn btn-lg rounded-pill btn-res" style="background-color: #2B9DB6;">
        Book now </button>
    </div>
  </section>

  <style>

  </style>
  <div class="container" style="padding: 5% 0;"> 
    <div id="packageOwl" class="owl-carousel owl-theme">
      <div class="item">
        <img src="../../img/services/photography/beach-photography/1.jpg" alt="">
      </div>
      <div class="item">
        <img src="../../img/services/photography/beach-photography/2.jpg" alt="">
      </div>
      <div class="item">
        <img src="../../img/services/photography/beach-photography/3.jpg" alt="">
      </div>
      <div class="item">
        <img src="../../img/services/photography/beach-photography/4.jpg" alt="">
      </div>
    </div>
  </div>


<%- include('../../partials/footer.ejs'); -%>
<%- include('../../partials/scripts.ejs'); -%>