    
    

    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../.././admin/js/jquery.min.js"></script>
    <script src="../.././admin/js/bootstrap.bundle.min.js"></script>
    <script src="../.././admin/js/sb-admin-2.min.js"></script>

    <script src="../.././admin/js/jquery.dataTables.min.js"></script>
    <script src="../.././admin/js/dataTables.bootstrap4.min.js"></script>
    <script >
    // Call the dataTables jQuery plugin
    $(document).ready(function() {
      $('#dataTable').DataTable();
    });
    </script>
  </body>
</html>