<%- include('../partials/head.ejs'); -%>
<%- include('../partials/nav.ejs'); -%>

  <style>
    .start {
      margin-top: 10%;
    }

    @media only screen and (max-width: 600px) {
      .start {
        margin-top: 32%;
      }
    }
  </style>

  <div class="container start">
    <h2 class="text-center header">
        Our Graphics Services
    </h2>
  </div>


  <style>
    .card {
      border: #fff;
    }

    .photography-services-card-content {
      text-align: center;
      padding: 10% 15%;
      background-color: #F7FAFE;
      margin: 0 5%;
      height: 416px;
    }

    .photography-services-content-heading {
      font-size: 2.2rem;
      padding: 4%;
    }

    @media only screen and (max-width: 600px) {
      .photography-services-card-content {
        text-align: center;
        padding: 8% 4%;
        background-color: #F7FAFE;
        margin: 0 5%;
        height: auto;
      }

      .photography-services-content-heading {
        font-size: 1.5rem;
        padding: 2%;
      }

      .booknow {
        margin: 2% 0 0 0;
      }

      .btn-res {
        font-size: 14px;

        color: #fff;
        padding: 10px 40px;
      }
    }
  </style>

<div class="card">
  <div class="row no-gutters">
    <div class="col-md-6" style="padding: 2%;">
      <img src="/images/services/logo.svg" class="card-img" alt="...">
    </div>
    <div class="col-md-6">
      <div class="card-body my-4 photography-services-card-content">
        <h5 class="card-title photography-services-content-heading">
          logo Design
        </h5>
        <div class="card-text">
          <p><img src="../svg/correct.svg" alt="">&nbsp;&nbsp;Wide variety to choose from</p>
          <p><img src="../svg/correct.svg" alt="">&nbsp;&nbsp;90 days after service backup</p>
          <p><img src="../svg/correct.svg" alt="">&nbsp;&nbsp;Money Back guarantee</p>
        </div>
        <section class="booknow">
          <div class="text-center">
            <a href="/services/graphics-services/logoDesign.html" class="btn btn-lg rounded-pill shadow btn-res"
              style="background-color: #B1B2CD;">
              Get Started
            </a>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="row no-gutters flex-column-reverse flex-md-row">
    <div class="col-md-6">
      <div class="card-body my-4 photography-services-card-content">
        <h5 class="card-title photography-services-content-heading">Business Card Design</h5>
        <div class="card-text">
          <p><img src="../svg/correct.svg" alt="">&nbsp;&nbsp; Proven standard workm</p>
          <p><img src="../svg/correct.svg" alt="">&nbsp;&nbsp;Unique identity</p>
          <p><img src="../svg/correct.svg" alt="">&nbsp;&nbsp;High resolution design</p>
        </div>
        <section class="booknow">
          <div class="text-center">
            <button type="button" class="btn btn-lg rounded-pill shadow btn-res"
              style="background-color: #599BFC;color: #fff;padding: 8px 60px;">
              Get Started
            </button>
          </div>
        </section>
      </div>
    </div>
    <div class="col-md-6" style="padding: 2%;">
      <img src="/images/services/buissiness-card.svg" class="card-img" alt="...">
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-6" style="padding: 2%;">
      <img src="/images/services/poster-banner.svg" class="card-img" alt="...">
    </div>
    <div class="col-md-6">
      <div class="card-body my-4 photography-services-card-content">
        <h5 class="card-title photography-services-content-heading">Poster & Banner</h5>
        <div class="card-text">
          <p><img src="../svg/correct.svg" alt="">&nbsp;&nbsp; Wide range of samples</p>
          <p><img src="../svg/correct.svg" alt="">&nbsp;&nbsp;Colourful theme with stunning graphics</p>
          <p><img src="../svg/correct.svg" alt="">&nbsp;&nbsp;Innovative design</p>
        </div>
        <section class="booknow">
          <div class="text-center">
            <button type="button" class="btn btn-lg rounded-pill shadow btn-res"
              style="background-color: #599BFC;color: #fff;padding: 8px 60px;">
              Get Started
            </button>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>


<div class="card">
  <div class="row no-gutters flex-column-reverse flex-md-row">
    <div class="col-md-6">
      <div class="card-body my-4 photography-services-card-content">
        <h5 class="card-title photography-services-content-heading">Brochure & Flairs </h5>
        <div class="card-text">
          <p><img src="../svg/correct.svg" alt="">&nbsp;&nbsp; Wide range of samples</p>
          <p><img src="../svg/correct.svg" alt="">&nbsp;&nbsp;Colourful theme with stunning graphics</p>
          <p><img src="../svg/correct.svg" alt="">&nbsp;&nbsp;Innovative design</p>
        </div>
        <section class="booknow">
          <div class="text-center">
            <button type="button" class="btn btn-lg rounded-pill shadow btn-res"
              style="background-color: #599BFC;color: #fff;padding: 8px 60px;">
              Get Started
            </button>
          </div>
        </section>
      </div>
    </div>
    <div class="col-md-6" style="padding: 2%;">
      <img src="/images/services/buissiness-card.svg" class="card-img" alt="...">
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-6" style="padding: 2%;">
      <img src="/images/services/poster-banner.svg" class="card-img" alt="...">
    </div>
    <div class="col-md-6">
      <div class="card-body my-4 photography-services-card-content">
        <h5 class="card-title photography-services-content-heading">Infographics</h5>
        <div class="card-text">
          <p><img src="../svg/correct.svg" alt="">&nbsp;&nbsp; Innovative captivating graphics</p>
          <p><img src="../svg/correct.svg" alt="">&nbsp;&nbsp;Fully informative design</p>
          <p><img src="../svg/correct.svg" alt="">&nbsp;&nbsp;Easy and intuitive structure</p>
        </div>
        <section class="booknow">
          <div class="text-center">
            <button type="button" class="btn btn-lg rounded-pill shadow btn-res"
              style="background-color: #599BFC;color: #fff;padding: 8px 60px;">
              Get Started
            </button>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="row no-gutters flex-column-reverse flex-md-row">
    <div class="col-md-6">
      <div class="card-body my-4 photography-services-card-content">
        <h5 class="card-title photography-services-content-heading">Social Media & Newspaper Ads </h5>
        <div class="card-text">
          <p><img src="../svg/correct.svg" alt="">&nbsp;&nbsp; Eye-popping stunning graphics</p>
          <p><img src="../svg/correct.svg" alt="">&nbsp;&nbsp;Witty Captions</p>
          <p><img src="../svg/correct.svg" alt="">&nbsp;&nbsp;Attention-grabbing advertisements</p>
        </div>
        <section class="booknow">
          <div class="text-center">
            <button type="button" class="btn btn-lg rounded-pill shadow btn-res"
              style="background-color: #599BFC;color: #fff;padding: 8px 60px;">
              Get Started
            </button>
          </div>
        </section>
      </div>
    </div>
    <div class="col-md-6" style="padding: 2%;">
      <img src="/images/services/buissiness-card.svg" class="card-img" alt="...">
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-6" style="padding: 2%;">
      <img src="/images/services/poster-banner.svg" class="card-img" alt="...">
    </div>
    <div class="col-md-6">
      <div class="card-body my-4 photography-services-card-content">
        <h5 class="card-title photography-services-content-heading">UI/UX Design</h5>
        <div class="card-text">
          <p><img src="../svg/correct.svg" alt="">&nbsp;&nbsp; Strong Technology Competence</p>
          <p><img src="../svg/correct.svg" alt="">&nbsp;&nbsp;User friendly Design</p>
          <p><img src="../svg/correct.svg" alt="">&nbsp;&nbsp;Flow Convenience control</p>
        </div>
        <section class="booknow">
          <div class="text-center">
            <button type="button" class="btn btn-lg rounded-pill shadow btn-res"
              style="background-color: #599BFC;color: #fff;padding: 8px 60px;">
              Get Started
            </button>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="row no-gutters flex-column-reverse flex-md-row">
    <div class="col-md-6">
      <div class="card-body my-4 photography-services-card-content">
        <h5 class="card-title photography-services-content-heading">Motion Graphics </h5>
        <div class="card-text">
          <p><img src="../svg/correct.svg" alt="">&nbsp;&nbsp;Strong Technology Competence</p>
          <p><img src="../svg/correct.svg" alt="">&nbsp;&nbsp;Combination of creativity and technology</p>
          <p><img src="../svg/correct.svg" alt="">&nbsp;&nbsp;Innovative design with content</p>
        </div>
        <section class="booknow">
          <div class="text-center">
            <button type="button" class="btn btn-lg rounded-pill shadow btn-res"
              style="background-color: #599BFC;color: #fff;padding: 8px 60px;">
              Get Started
            </button>
          </div>
        </section>
      </div>
    </div>
    <div class="col-md-6" style="padding: 2%;">
      <img src="/images/services/buissiness-card.svg" class="card-img" alt="...">
    </div>
  </div>
</div>


  <div class="" style="background-color: rgb(238, 238, 238);">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 p-4">
          <h4>
            Recieve Special Offers, new products & updates
          </h4>
        </div>
        <div class="col-md-6 col-sm-12 p-4">
          <div class="sub" style="background-color: #fff; padding: 1%; border-radius: 50px;">
            <div class="input-group">
              <input type="text" class="form-control border-0" placeholder="Recipient's username"
                style="padding: 4%; border-radius: 50px;">
              <div class="input-group-append">
                <button class="btn btn-sm btn-primary shadow" type="submit" style="border-radius: 50px;">
                  SUBSCRIBE NOW
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<%- include('../partials/footer.ejs'); -%>
<%- include('../partials/scripts.ejs'); -%>